In [5]:
import sqlite3
from random import randrange
import time
from datetime import datetime

con = sqlite3.connect('dsa2.db')
c = con.cursor()

# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos('\
              'ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,'\
              'DATE TEXT, '\
              'PROD_NAME TEXT, '\
              'VALOR REAL)')
    
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2018-05-02 14:32:11', 'Teclado', 90)")
    con.commit()
    c.close()
    con.close()
    
def data_insert_var():
    new_date = datetime.now()
    new_prod_name = 'Monitor'
    new_valor = randrange(50,100)
    c.execute("INSERT INTO produtos (DATE, PROD_NAME, VALOR) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    con.commit()
    
create_table()

In [6]:
# Gerando valores e inserindo na tabela
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [9]:
# Realizando Select
sql_select = 'SELECT * FROM produtos'

c.execute(sql_select)
dados = c.fetchall()

for tupla in dados:
    print('ID: %d | Date: %s | Nome do Produto: %s | Valor: %s\n' % tupla)

ID: 1 | Date: 2019-07-25 00:07:53.057999 | Nome do Produto: Monitor | Valor: 71.0

ID: 2 | Date: 2019-07-25 00:07:54.081571 | Nome do Produto: Monitor | Valor: 77.0

ID: 3 | Date: 2019-07-25 00:07:55.096101 | Nome do Produto: Monitor | Valor: 79.0

ID: 4 | Date: 2019-07-25 00:07:56.111208 | Nome do Produto: Monitor | Valor: 75.0

ID: 5 | Date: 2019-07-25 00:07:57.131249 | Nome do Produto: Monitor | Valor: 89.0

ID: 6 | Date: 2019-07-25 00:07:58.145714 | Nome do Produto: Monitor | Valor: 94.0

ID: 7 | Date: 2019-07-25 00:07:59.160108 | Nome do Produto: Monitor | Valor: 57.0

ID: 8 | Date: 2019-07-25 00:08:00.175834 | Nome do Produto: Monitor | Valor: 90.0

ID: 9 | Date: 2019-07-25 00:08:01.190905 | Nome do Produto: Monitor | Valor: 85.0

ID: 10 | Date: 2019-07-25 00:08:02.202552 | Nome do Produto: Monitor | Valor: 64.0

In [10]:
# Encerrando a conexão
c.close()
con.close()

# Fim