In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'
                  ,'Minas Gerais', 'Paraná', 'Goiás'],
        'Ano': [2002, 2003, 2004, 2005, 2006
               ,2007, 2008, 2009],
        'Populacao': [1.5, 1.7, 3.6, 2.4, 2.9
                     ,3.0, 2.8, 3.0]}

In [3]:
data

{'Estado': ['Santa Catarina',
  'Paraná',
  'Goiás',
  'Bahia',
  'Minas Gerais',
  'Minas Gerais',
  'Paraná',
  'Goiás'],
 'Ano': [2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009],
 'Populacao': [1.5, 1.7, 3.6, 2.4, 2.9, 3.0, 2.8, 3.0]}

In [4]:
frame = pd.DataFrame(data)

In [5]:
frame

           Estado   Ano  Populacao
0  Santa Catarina  2002        1.5
1          Paraná  2003        1.7
2           Goiás  2004        3.6
3           Bahia  2005        2.4
4    Minas Gerais  2006        2.9
5    Minas Gerais  2007        3.0
6          Paraná  2008        2.8
7           Goiás  2009        3.0

In [6]:
    input_bool_true = ('S', 'SIM', 'TRUE')
    input_bool_false = ('N', 'NAO', 'FALSE')
    input_bool = input_bool_true + input_bool_false

In [7]:
input_bool

('S', 'SIM', 'TRUE', 'N', 'NAO', 'FALSE')

In [8]:
lista = [1,2,3,4,5]
print(lista)

[1, 2, 3, 4, 5]

In [9]:
dict = {1: 'A', 2: 'B', 3: 'C'}

In [10]:
print(dict.keys())

dict_keys([1, 2, 3])

In [11]:
list2 = frame['Estado']

In [12]:
list2

0    Santa Catarina
1            Paraná
2             Goiás
3             Bahia
4      Minas Gerais
5      Minas Gerais
6            Paraná
7             Goiás
Name: Estado, dtype: object

In [13]:
list3 = frame['Estado'].unique()

In [14]:
list3

array(['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'],
      dtype=object)

In [15]:
list3 = set(list3)

In [16]:
list3

{'Bahia', 'Goiás', 'Minas Gerais', 'Paraná', 'Santa Catarina'}

In [17]:
type(list3)

set

In [18]:
list4 = ['Bahia', 'Goiás', 'Minas Gerais','Pernambuco', 'Paraná', 'Santa Catarina','Bahia', 'Goiás', 'Minas Gerais', 'Paraná', 'Santa Catarina','Bahia', 'Goiás', 'Minas Gerais', 'Paraná', 'Santa Catarina']
print(type(list4))
print(list4)

<class 'list'>
['Bahia', 'Goiás', 'Minas Gerais', 'Pernambuco', 'Paraná', 'Santa Catarina', 'Bahia', 'Goiás', 'Minas Gerais', 'Paraná', 'Santa Catarina', 'Bahia', 'Goiás', 'Minas Gerais', 'Paraná', 'Santa Catarina']

In [19]:
list4 = set(list4)
print(type(list4))
print(list4)

<class 'set'>
{'Minas Gerais', 'Bahia', 'Santa Catarina', 'Pernambuco', 'Paraná', 'Goiás'}

In [20]:
list4

{'Bahia', 'Goiás', 'Minas Gerais', 'Paraná', 'Pernambuco', 'Santa Catarina'}

In [21]:
listf = list4.difference(list3)
print(listf)

{'Pernambuco'}