# Pivot_table
##### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html

In [1]:
import pandas as pd
import numpy as np
dataFrame = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                          "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                          "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [2]:
dataFrame

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [3]:
# Este exemplo agrega valores por soma
table = pd.pivot_table(dataFrame, values = 'D', index = ['A', 'B'], columns = ['C'], aggfunc = np.sum)

In [4]:
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [5]:
# Este exemplo agrega valores por soma. Somando pela coluna E dessa vez
table2 = pd.pivot_table(dataFrame, values = 'E', index = ['A', 'B'], columns = ['C'], aggfunc = np.sum)

In [6]:
table2

C        large  small
A   B
bar one    6.0    8.0
    two    9.0    9.0
foo one    9.0    2.0
    two    NaN   11.0

#### Fill_value

In [7]:
table3 = pd.pivot_table(dataFrame, values = 'D', index = ['A', 'B'], columns = ['C'], 
                        aggfunc = np.sum)#, fill_value = 0)

In [8]:
table3

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [9]:
table3 = pd.pivot_table(dataFrame, values = 'D', index = ['A', 'B'], columns = ['C'], 
                        aggfunc = np.sum, fill_value = 0)

In [10]:
table3

C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6