In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                    'Max Speed': [380., 370., 24., 26.]})

In [3]:
df1 = df1[df1.columns[0]].to_dict()

In [4]:
df1

{0: 'Falcon', 1: 'Falcon', 2: 'Parrot', 3: 'Parrot'}

In [5]:
df2 = pd.DataFrame({'Animal': [0, 1,
                               2, 3],
                    'Max Speed': [380., 370., 24., 26.]})

In [6]:
df2['Animal'] = df2['Animal'].map(df1)

In [7]:
df2

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0