## Função pandas.DataFrame.groupby

#### Args:
#### sum() -> Soma
#### max() -> Valor Máximo
#### min() -> Valor Mínimo
#### mean() -> Média

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                    'Max Speed': [380., 370., 24., 26.]})

In [3]:
# Imprimindo o df
df1

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [4]:
df1.groupby(['Animal']).sum()

        Max Speed
Animal
Falcon      750.0
Parrot       50.0

In [5]:
df1.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [6]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]

In [7]:
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
print(index)

MultiIndex(levels=[['Falcon', 'Parrot'], ['Captive', 'Wild']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['Animal', 'Type'])

In [8]:
df2 = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                   index=index)

In [9]:
df2

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [10]:
df2.groupby(level=0).mean()

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [11]:
df2.groupby(level=1).mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

In [13]:
DfLoc = df2.loc[:, 0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>