#### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.clip.html

In [1]:
import pandas as pd

In [2]:
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [7]:
df.clip(0, 1)
# Todos os valores abaixo de 0 ficam 0 e valores acima de 1 ficam 1

   col_0  col_1
0      1      0
1      0      0
2      0      1
3      0      1
4      1      0