## DataFrame com Pickles

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                    'Max Speed': [380., 370., 
                                  24., 26.],
                    'Min Speed': [190, 185.,
                                  12., 13.],
                    'Specie': ['Bird', 'Bird',
                               'Bird', 'Bird']})

In [3]:
import pickle
with open('dataFrameTest.pkl', 'wb') as f:
    # Salvando um arquivo pickle
    pickle.dump(df, f, pickle.HIGHEST_PROTOCOL)

In [4]:
dfopen = pd.read_pickle('dataFrameTest.pkl')

In [5]:
dfopen2 = pd.DataFrame({'Animal': ['Tucano', 'Beagle',
                                   'Lion', 'Human'],
                        'Max Speed': [200., 10., 
                                      30., 20.],
                        'Min Speed': [100, 5.,
                                      12., 13.],
                        'Specie': ['Bird', 'Dog',
                                   'Cat', 'Human']})

In [6]:
dfopen2

   Animal  Max Speed  Min Speed Specie
0  Tucano      200.0      100.0   Bird
1  Beagle       10.0        5.0    Dog
2    Lion       30.0       12.0    Cat
3   Human       20.0       13.0  Human

In [7]:
dfopen['Specie'] = dfopen.Specie + ' | test'

In [8]:
dfopen

   Animal  Max Speed  Min Speed       Specie
0  Falcon      380.0      190.0  Bird | test
1  Falcon      370.0      185.0  Bird | test
2  Parrot       24.0       12.0  Bird | test
3  Parrot       26.0       13.0  Bird | test

In [9]:
# É feito uma condição, onde dfopen3 terá todos os valores de dfopen 
# onde o valor da coluna Animal for 'Falcon'
dfopen3 = dfopen[dfopen.Animal == 'Falcon']

In [10]:
dfopen3

   Animal  Max Speed  Min Speed       Specie
0  Falcon      380.0      190.0  Bird | test
1  Falcon      370.0      185.0  Bird | test

## Realizando teste com DataFrame

In [11]:
dfopen3.Animal.values

array(['Falcon', 'Falcon'], dtype=object)