In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                    'Max Speed': [380., 370., 24., 26.]})

In [3]:
df1[df1.columns[0]]

0    Falcon
1    Falcon
2    Parrot
3    Parrot
Name: Animal, dtype: object

In [4]:
df1[df1.columns[0]].to_dict()

{0: 'Falcon', 1: 'Falcon', 2: 'Parrot', 3: 'Parrot'}

In [5]:
df2 = df1.set_index(df1.columns[0])

In [6]:
df2

        Max Speed
Animal
Falcon      380.0
Falcon      370.0
Parrot       24.0
Parrot       26.0

In [7]:
df2 = df2[df2.columns[0]]

In [8]:
df2

Animal
Falcon    380.0
Falcon    370.0
Parrot     24.0
Parrot     26.0
Name: Max Speed, dtype: float64

In [9]:
df2 = df2.to_dict()

In [10]:
df2

{'Falcon': 370.0, 'Parrot': 26.0}

In [13]:
x = df1[df1.Animal == 'Falcon'].copy()

In [14]:
x

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0