In [1]:
import pandas as pd

# Definindo dicionário para gerar o DataFrame
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj']}

In [2]:
data

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj']}

In [3]:
data['Age'] = [10, 10, 22, 21]

In [4]:
data

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 'Age': [10, 10, 22, 21]}

In [5]:
data['Endereco'] = ['Casa x123 allan@email.com',
                    'Apartamento aaa@asds.com.br',
                    'akdaskdl@sssd.com',
                    'TESTE @@@gmail.com']

In [6]:
data

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
 'Age': [10, 10, 22, 21],
 'Endereco': ['Casa x123 allan@email.com',
  'Apartamento aaa@asds.com.br',
  'akdaskdl@sssd.com',
  'TESTE @@@gmail.com']}

In [7]:
df = pd.DataFrame(data)

print(df)

     Name  Age                     Endereco
0     Jai   10    Casa x123 allan@email.com
1  Princi   10  Apartamento aaa@asds.com.br
2  Gaurav   22            akdaskdl@sssd.com
3    Anuj   21           TESTE @@@gmail.com

In [8]:
# Invertendo valores String do DataFrame
df['Endereco'].str[::-1]

0      moc.liame@nalla 321x asaC
1    rb.moc.sdsa@aaa otnematrapA
2              moc.dsss@ldksadka
3             moc.liamg@@@ ETSET
Name: Endereco, dtype: object

In [9]:
df['Endereco'] = df['Endereco'].str[::-1]

In [10]:
# o parâmetro N equivale à quantidade de colunas que será fatiada quando expand for True
df['Endereco'].str.split(' ', n=3, expand=True)

                   0            1     2
0    moc.liame@nalla         321x  asaC
1    rb.moc.sdsa@aaa  otnematrapA  None
2  moc.dsss@ldksadka         None  None
3       moc.liamg@@@        ETSET  None

In [11]:
df['Endereco'].str.split(' ', n=1, expand=True)

                   0            1
0    moc.liame@nalla    321x asaC
1    rb.moc.sdsa@aaa  otnematrapA
2  moc.dsss@ldksadka         None
3       moc.liamg@@@        ETSET

In [12]:
# Fazendo a divisão na prática
df['Endereco'] = df['Endereco'].str.split(' ', n=1, expand=True)[1]
df['Endereco'] = df['Endereco'].str[::-1]
print(df['Endereco'])

0      Casa x123
1    Apartamento
2           None
3          TESTE
Name: Endereco, dtype: object