In [1]:
import pandas as pd

# Definindo dicion√°rio para gerar o DataFrame
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj']}

In [2]:
data

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj']}

In [3]:
data['Age'] = [10, 10, 22, 21]

In [4]:
data

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 'Age': [10, 10, 22, 21]}

In [5]:
data['Endereco'] = ['Casa x123         allan@email.com',
                    'Apartamento aa        a@asds.com.br',
                    'akdaskdl@sssd.        com',
                    'TESTE             @@@gmail.com']

In [6]:
data

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
 'Age': [10, 10, 22, 21],
 'Endereco': ['Casa x123         allan@email.com',
  'Apartamento aa        a@asds.com.br',
  'akdaskdl@sssd.        com',
  'TESTE             @@@gmail.com']}

In [7]:
df = pd.DataFrame(data)

print(df)

     Name  Age                             Endereco
0     Jai   10    Casa x123         allan@email.com
1  Princi   10  Apartamento aa        a@asds.com.br
2  Gaurav   22            akdaskdl@sssd.        com
3    Anuj   21       TESTE             @@@gmail.com

In [8]:
# Invertendo valores String do DataFrame
df['Endereco'].str[::-1]

0      moc.liame@nalla         321x asaC
1    rb.moc.sdsa@a        aa otnematrapA
2              moc        .dsss@ldksadka
3         moc.liamg@@@             ETSET
Name: Endereco, dtype: object

In [9]:
df['Endereco'].str.split(' ', expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Casa,x123,,,,,,,,,allan@email.com,None,None,None
1,Apartamento,aa,,,,,,,,a@asds.com.br,None,None,None,None
2,akdaskdl@sssd.,,,,,,,,com,None,None,None,None,None
3,TESTE,,,,,,,,,,,,,@@@gmail.com

In [10]:
x = df['Endereco'].str.split().str.join(' ')
print(x)

0       Casa x123 allan@email.com
1    Apartamento aa a@asds.com.br
2              akdaskdl@sssd. com
3              TESTE @@@gmail.com
Name: Endereco, dtype: object