# Enumerate

In [2]:
seq = ['a', 'b', 'c']

In [3]:
seq2 = [x * 10 for x in range(50)]

In [4]:
enumerate(seq)
enumerate(seq2)

In [5]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [6]:
list(enumerate(seq2))

[(0, 0),
 (1, 10),
 (2, 20),
 (3, 30),
 (4, 40),
 (5, 50),
 (6, 60),
 (7, 70),
 (8, 80),
 (9, 90),
 (10, 100),
 (11, 110),
 (12, 120),
 (13, 130),
 (14, 140),
 (15, 150),
 (16, 160),
 (17, 170),
 (18, 180),
 (19, 190),
 (20, 200),
 (21, 210),
 (22, 220),
 (23, 230),
 (24, 240),
 (25, 250),
 (26, 260),
 (27, 270),
 (28, 280),
 (29, 290),
 (30, 300),
 (31, 310),
 (32, 320),
 (33, 330),
 (34, 340),
 (35, 350),
 (36, 360),
 (37, 370),
 (38, 380),
 (39, 390),
 (40, 400),
 (41, 410),
 (42, 420),
 (43, 430),
 (44, 440),
 (45, 450),
 (46, 460),
 (47, 470),
 (48, 480),
 (49, 490)]

In [7]:
seq3 = []
for indice, valor in enumerate(seq2):
    if indice % 2 == 0:
        pass
    else:
        seq3.append(valor)

In [8]:
seq3

[10,
 30,
 50,
 70,
 90,
 110,
 130,
 150,
 170,
 190,
 210,
 230,
 250,
 270,
 290,
 310,
 330,
 350,
 370,
 390,
 410,
 430,
 450,
 470,
 490]