In [1]:
# Caso o arquivo 'escola.db' exista, o mesmo será removido.
from os import remove, path
remove("escola.db") if path.exists("escola.db") else None

In [2]:
# O SQLite já vem embutido no Anaconda.
import sqlite3

In [3]:
# Criando uma conexão com o DB SQLite.
# Se o banco de dados não existir, ele é criado neste momento
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
# Criando um cursor (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
# Criando uma query SQL
sql_create = 'CREATE TABLE cursos '\
'(ID_Curso INTEGER PRIMARY KEY, '\
'TITULO VARCHAR(90), '\
'CATEGORIA VARCHAR(130))'

In [8]:
cur.execute(sql_create)

In [9]:
# Criando query SQL para INSERT
sql_insert = 'INSERT INTO cursos VALUES (?, ?, ?)'

In [10]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Python com MySQL', 'Data Science'),
          (1002, 'Banco de Dados Não Relacional', 'Big Data'),
          (1003, 'Banco de Dados Relacional', 'Big Data'),
          (1004, 'AngularJS', 'Desenvolvimento'),
          (1005, 'Flutter e Dart', 'Mobile'),
          (1006, 'Personal Home Pages - PHP', 'Desenvolvimento'),
          (1007, 'Swift', 'Mobile')]

In [11]:
# Inserindo os registros
for dados in recset:
    cur.execute(sql_insert, dados)

In [12]:
# Grava a transação
con.commit()

In [13]:
# Criando query SQL para SELECT
sql_select = 'SELECT * FROM Cursos'

In [14]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [15]:
# Printa as tuplas
for tupla in dados:
    print('Curso ID: %d | Título: %s | Categoria: %s \n' % tupla)

Curso ID: 1000 | Título: Ciência de Dados | Categoria: Data Science

Curso ID: 1001 | Título: Python com MySQL | Categoria: Data Science

Curso ID: 1002 | Título: Banco de Dados Não Relacional | Categoria: Big Data

Curso ID: 1003 | Título: Banco de Dados Relacional | Categoria: Big Data

Curso ID: 1004 | Título: AngularJS | Categoria: Desenvolvimento

Curso ID: 1005 | Título: Flutter e Dart | Categoria: Mobile

Curso ID: 1006 | Título: Personal Home Pages - PHP | Categoria: Desenvolvimento

Curso ID: 1007 | Título: Swift | Categoria: Mobile

In [16]:
recset = [(1008, 'R Fundamentos', 'Análise de Dados'),
          (1009, 'Machine Learning com Weka', 'Machine Learning'),
          (1010, 'Redes Neurais Artificiais', 'Inteligência Artificial'),
          (1011, 'Microsoft Power BI', 'Análise de Dados'),
          (1012, 'Windows Server 2016', 'Infraestrutura')]

for dados in recset:
    cur.execute(sql_insert, dados)
    
con.commit()

cur.execute(sql_select)
dados = cur.fetchall()

for tupla in dados:
    print('Curso ID: %d | Título: %s | Categoria: %s \n' % tupla)

Curso ID: 1000 | Título: Ciência de Dados | Categoria: Data Science

Curso ID: 1001 | Título: Python com MySQL | Categoria: Data Science

Curso ID: 1002 | Título: Banco de Dados Não Relacional | Categoria: Big Data

Curso ID: 1003 | Título: Banco de Dados Relacional | Categoria: Big Data

Curso ID: 1004 | Título: AngularJS | Categoria: Desenvolvimento

Curso ID: 1005 | Título: Flutter e Dart | Categoria: Mobile

Curso ID: 1006 | Título: Personal Home Pages - PHP | Categoria: Desenvolvimento

Curso ID: 1007 | Título: Swift | Categoria: Mobile

Curso ID: 1008 | Título: R Fundamentos | Categoria: Análise de Dados

Curso ID: 1009 | Título: Machine Learning com Weka | Categoria: Machine Learning

Curso ID: 1010 | Título: Redes Neurais Artificiais | Categoria: Inteligência Artificial

Curso ID: 1011 | Título: Microsoft Power BI | Categoria: Análise de Dados

Curso ID: 1012 | Título: Windows Server 2016 | Categoria: Infraestrutura

In [17]:
# Finalizando conexão
con.close()

## Fim