In [1]:
import sqlite3
import datetime
import time
import random

con = sqlite3.connect('dsa3.db')
c = con.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos('\
              'ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, '\
              'DATE TEXT, '\
              'PROD_NAME TEXT, '\
              'VALOR REAL)')
    
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2016', 'Desk', 130)")
    con.commit()
#    c.close()
#    con.close()
    
def data_insert_var(prod, x, y):
    new_date = datetime.datetime.now()
    new_valor = random.randrange(x, y)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)",
             (new_date, prod, new_valor))
    con.commit()

def select_all():
    c.execute("SELECT * FROM produtos")
    for tuples in c.fetchall():
        print(tuples)
    
def select_registry():
    c.execute("SELECT * FROM produtos WHERE valor > 60.0")
    for tuples in c.fetchall():
        print(tuples)
        
def select_columns(column_num):
    c.execute("SELECT * FROM PRODUTOS")
    for tuples in c.fetchall():
        print(tuples[column_num])

In [2]:
create_table()
data_insert_var('Monitor', 50, 100)
data_insert_var('Notebook',1000,2000)
data_insert_var('SmartPhone', 1000, 3000)
data_insert_var('iPhone', 5000, 10000)

In [3]:
select_all()

(2, '02-05-2016', 'Desk', 130.0)
(3, '2019-07-26 23:28:19.617668', 'Monitor', 89.0)
(4, '2019-07-26 23:28:19.641670', 'Notebook', 1844.0)
(5, '2019-07-26 23:28:19.654664', 'SmartPhone', 2016.0)
(6, '2019-07-26 23:28:19.665694', 'iPhone', 7041.0)
(7, '2019-07-26 23:29:54.573955', 'Monitor', 97.0)
(8, '2019-07-26 23:29:54.590988', 'Notebook', 1380.0)
(9, '2019-07-26 23:29:54.603980', 'SmartPhone', 2900.0)
(10, '2019-07-26 23:29:54.615949', 'iPhone', 5911.0)
(11, '2019-07-26 23:29:54.729939', 'Monitor', 91.0)
(12, '2019-07-26 23:29:54.747934', 'Notebook', 1592.0)
(13, '2019-07-26 23:29:54.759931', 'SmartPhone', 1065.0)
(14, '2019-07-26 23:29:54.770930', 'iPhone', 6649.0)
(15, '2019-07-27 00:34:31.760564', 'Monitor', 77.0)
(16, '2019-07-27 00:34:31.780560', 'Notebook', 1688.0)
(17, '2019-07-27 00:34:31.794560', 'SmartPhone', 2746.0)
(18, '2019-07-27 00:34:31.806581', 'iPhone', 5558.0)

In [4]:
select_columns(0)
print('---')
select_columns(1)
print('---')
select_columns(2)
print('---')
select_columns(3)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
---
02-05-2016
2019-07-26 23:28:19.617668
2019-07-26 23:28:19.641670
2019-07-26 23:28:19.654664
2019-07-26 23:28:19.665694
2019-07-26 23:29:54.573955
2019-07-26 23:29:54.590988
2019-07-26 23:29:54.603980
2019-07-26 23:29:54.615949
2019-07-26 23:29:54.729939
2019-07-26 23:29:54.747934
2019-07-26 23:29:54.759931
2019-07-26 23:29:54.770930
2019-07-27 00:34:31.760564
2019-07-27 00:34:31.780560
2019-07-27 00:34:31.794560
2019-07-27 00:34:31.806581
---
Desk
Monitor
Notebook
SmartPhone
iPhone
Monitor
Notebook
SmartPhone
iPhone
Monitor
Notebook
SmartPhone
iPhone
Monitor
Notebook
SmartPhone
iPhone
---
130.0
89.0
1844.0
2016.0
7041.0
97.0
1380.0
2900.0
5911.0
91.0
1592.0
1065.0
6649.0
77.0
1688.0
2746.0
5558.0

## Fim