In [1]:
import pandas as pd

In [2]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'
                  ,'Minas Gerais', 'Paraná', 'Goiás'],
        'Ano': [2002, 2003, 2004, 2005, 2006
               ,2007, 2008, 2009],
        'Populacao': [1.5, 1.7, 3.6, 2.4, 2.9
                     ,3.0, 2.8, 3.0]}
data2 = {'Sigla': ['SC', 'PR', 'GO', 'BA', 'MG'
                  ,'MG', 'PA', 'GO'],
        'Ano': [2010, 2023, 2024, 2025, 2026
               ,2027, 2028, 2029],
        'Populacao': [2.5, 2.7, 4.6, 3.4, 3.9
                     ,4.0, 3.8, 4.0]}
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data2)

In [3]:
df1

           Estado   Ano  Populacao
0  Santa Catarina  2002        1.5
1          Paraná  2003        1.7
2           Goiás  2004        3.6
3           Bahia  2005        2.4
4    Minas Gerais  2006        2.9
5    Minas Gerais  2007        3.0
6          Paraná  2008        2.8
7           Goiás  2009        3.0

In [6]:
df1.to_json('df1.json')
del df1

In [7]:
dfx = pd.read_json('df1.json')

In [8]:
dfx

           Estado   Ano  Populacao
0  Santa Catarina  2002        1.5
1          Paraná  2003        1.7
2           Goiás  2004        3.6
3           Bahia  2005        2.4
4    Minas Gerais  2006        2.9
5    Minas Gerais  2007        3.0
6          Paraná  2008        2.8
7           Goiás  2009        3.0