## https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'num_legs': [2, 4, 2, 3], 
                   'num_wings': [2, 0, 0, 0]},
                  index=['falcon', 'dog', 'people', 'third-age people'])

In [3]:
df

                  num_legs  num_wings
falcon                   2          2
dog                      4          0
people                   2          0
third-age people         3          0

In [4]:
# Verifica quais itens tem num_legs = 4 e num_wings = 0
df.isin([4,0])

                  num_legs  num_wings
falcon               False      False
dog                   True       True
people               False       True
third-age people     False       True

In [5]:
df.isin([3, 0])

                  num_legs  num_wings
falcon               False      False
dog                  False       True
people               False       True
third-age people      True       True

In [6]:
df.isin({'num_legs':[0, 2], 'num_wings': [0, 4]})

                  num_legs  num_wings
falcon                True      False
dog                  False       True
people                True       True
third-age people     False       True

In [7]:
other = pd.DataFrame({'num_legs': [8, 2], 'num_wings': [0, 2]},
                     index=['spider', 'falcon'])
df.isin(other)

                  num_legs  num_wings
falcon                True       True
dog                  False      False
people               False      False
third-age people     False      False