In [1]:
# https://stackoverflow.com/questions/
# 49864278/compare-dataframe-value-with-key-range-in-dictionary-and-return-value

In [2]:
import pandas as pd, numpy as np

In [3]:
colors = {range(0,50):"red",range(50,100):"blue",
          range(100,150):"green",range(150,200):"orange",
          range(200, 250):"purple", range(250,1000):"grey"}

In [4]:
colors

{range(0, 50): 'red',
 range(50, 100): 'blue',
 range(100, 150): 'green',
 range(150, 200): 'orange',
 range(200, 250): 'purple',
 range(250, 1000): 'grey'}

In [5]:
type(colors)

dict

In [6]:
df = pd.DataFrame(data=[51,8,265,167], columns=['A'])
print(df)

     A
0   51
1    8
2  265
3  167

In [7]:
df['color'] = np.select([df['A'].isin(x) for x in colors], colors.values(), None)

In [8]:
df

     A   color
0   51    blue
1    8     red
2  265    grey
3  167  orange

In [9]:
df['B'] = [20, 80, 150, 250]

In [10]:
df

     A   color    B
0   51    blue   20
1    8     red   80
2  265    grey  150
3  167  orange  250

In [11]:
df['colorsB'] = np.select([df['B'].isin(x) for x in colors], colors.values(), None)

In [12]:
df

     A   color    B colorsB
0   51    blue   20     red
1    8     red   80    blue
2  265    grey  150  orange
3  167  orange  250    grey