In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'CPFs' : [94478592675, 48745224161, 62335118447,
              '8455121 3276', '6448148   3377', '43425   522647',
              '00467888635', '00665534130', '00072187567']
})

In [3]:
df

             CPFs
0     94478592675
1     48745224161
2     62335118447
3    8455121 3276
4  6448148   3377
5  43425   522647
6     00467888635
7     00665534130
8     00072187567

In [4]:
df = df.str.replace(' ', '')

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
df

In [ ]:
df = df.str.lstrip('0')

In [ ]:
df