### pandas.GroupBy.cumcount()
###### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.cumcount.html

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [['A', 'X', 3], ['A', 'X', 5], ['A', 'Y', 7], ['A', 'Y', 1],
     ['B', 'X', 3], ['B', 'X', 1], ['B', 'X', 3], ['B', 'Y', 1],
     ['C', 'X', 7], ['C', 'Y', 4], ['C', 'Y', 1], ['C', 'Y', 6]],
    columns=['c1', 'c2', 'v1'])

In [3]:
df

   c1 c2  v1
0   A  X   3
1   A  X   5
2   A  Y   7
3   A  Y   1
4   B  X   3
5   B  X   1
6   B  X   3
7   B  Y   1
8   C  X   7
9   C  Y   4
10  C  Y   1
11  C  Y   6

In [4]:
df.groupby('c1').cumcount()

0     0
1     1
2     2
3     3
4     0
5     1
6     2
7     3
8     0
9     1
10    2
11    3
dtype: int64

##### CumCount faz um count de  valores consecutivos, caso a sequência pare, o count é resetado

In [5]:
df.groupby('c1').cumcount() + 1

0     1
1     2
2     3
3     4
4     1
5     2
6     3
7     4
8     1
9     2
10    3
11    4
dtype: int64

In [6]:
df.groupby('c1').cumcount(ascending=False)

0     3
1     2
2     1
3     0
4     3
5     2
6     1
7     0
8     3
9     2
10    1
11    0
dtype: int64