In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = {'Endereco':['Rua 01410070', 'Rua X 0802200', 'Rua Y 01405020'],
        'CEP':['0141007', '0802201', '01405020']}
df = pd.DataFrame(data)
print(df)

         Endereco       CEP
0    Rua 01410070   0141007
1   Rua X 0802200   0802201
2  Rua Y 01405020  01405020

In [3]:
# PURGE CEPs Trial 1
df[df['Endereco'].str.contains('014') == True]

         Endereco       CEP
0    Rua 01410070   0141007
2  Rua Y 01405020  01405020

In [4]:
# PURGE CEPs Trial 2
df[df.apply(lambda row: row['CEP'][0:-2] in row['Endereco'], axis=1)]

         Endereco       CEP
0    Rua 01410070   0141007
1   Rua X 0802200   0802201
2  Rua Y 01405020  01405020

In [5]:
# PURGE CEPs Trial 3 - Series de True ou False
df['CEPinEnd'] = df.apply(lambda row: row['CEP'] in row['Endereco'], axis=1)

In [6]:
purge_current_ceps = pd.Series((df['CEP']))

In [7]:
purge_current_ceps

0     0141007
1     0802201
2    01405020
Name: CEP, dtype: object

In [8]:
df

         Endereco       CEP  CEPinEnd
0    Rua 01410070   0141007      True
1   Rua X 0802200   0802201     False
2  Rua Y 01405020  01405020      True

In [9]:
purge_current_ceps = pd.Series((df.loc[df.CEPinEnd]['CEP']))
print(purge_current_ceps)

0     0141007
2    01405020
Name: CEP, dtype: object

In [10]:
print(purge_current_ceps.index)
dict = purge_current_ceps.to_dict()
print(dict)

Int64Index([0, 2], dtype='int64')
{0: '0141007', 2: '01405020'}

In [11]:
x1 = dict.fromkeys(purge_current_ceps)

In [12]:
print(x1)

{'0141007': None, '01405020': None}

In [13]:
# df['Endereco'] = df['Endereco'].map(x1).fillna(df['Endereco'].str.split(' '))

In [14]:
df.iloc[0].Endereco

'Rua 01410070'

In [15]:
# Source: https://stackoverflow.com/questions/31569384/set-value-for-particular-cell-in-pandas-dataframe-with-iloc/55906315

dfx = df.copy()
for key, value in dict.items():
    print(dfx.iloc[key].Endereco)
    print(key)
    print(value)
    print(dfx.iloc[key].Endereco.replace(value, '').strip(' '))
    dfx.loc[key, 'Endereco'] = dfx.iloc[key].Endereco.replace(value, '').strip(' ')
print(dfx)

Rua 01410070
0
0141007
Rua 0
Rua Y 01405020
2
01405020
Rua Y
        Endereco       CEP  CEPinEnd
0          Rua 0   0141007      True
1  Rua X 0802200   0802201     False
2          Rua Y  01405020      True

In [16]:
df

         Endereco       CEP  CEPinEnd
0    Rua 01410070   0141007      True
1   Rua X 0802200   0802201     False
2  Rua Y 01405020  01405020      True